
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    
}

body {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;

}
 

.container {
    margin: 0 auto;
    max-width: 60%;

}

/*.booleando_header {
    border: 2px solid black;
  
}*/

.logo {
    width: 300px;
}

.logo_text {
    font-style: bold; 
    font-size: 18px;
}

.row {
    display: flex;
}

.booleando_header .row {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.col-3 {
    width: calc(4*100%/12);
    
}

.main_content .row {
  flex-wrap: wrap;
}

.row .item_info {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.brand {
    color: rgb(102, 102, 102);
    font-size: 16px;
}

.name {
    font-style: bold;
    font-size: 20px;
    
}

.price {
    display: inline-block;
    color: red;
}

.discount {
    display: inline-block;
    margin-left: 6px;
    text-decoration: line-through;
    font-size: 16px;
    color: rgb(102, 102, 102);
}

.item_info {
    margin-left: 10px;
}