
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    
}


a,ul,ol,menu {
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.row {
    display: flex;
}

/* HEADER */
.page_header{
   background-color:#FF6900;
    color: white;
}

.page_header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 


.page_header .item {
    flex-direction: row;
}

.page_header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav .item {
    font-size: 18px;
    padding: 10px;
    line-height: 50px;
}

.page_header .nav_logo {
   
    font-style: bold;
    font-size: 36px;
}



/* BODY */
body {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;

}
 

.container {
    margin: 0 auto;
    max-width: 60%;

}

/*.booleando_header {
    border: 2px solid black;
  
}*/

.logo {
    width: 300px;
}

.logo_text {
    font-style: bold; 
    font-size: 18px;
}


.booleando_header .row {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.col-3 {
    width: calc(4*100%/12);
    
}

.main_content .row {
  flex-wrap: wrap;
}

.row .item_info {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.brand {
    color: rgb(102, 102, 102);
    font-size: 16px;
}

.name {
    font-style: bold;
    font-size: 20px;
    
}

.price {
    display: inline-block;
    color: red;
}

.discount {
    display: inline-block;
    margin-left: 6px;
    text-decoration: line-through;
    font-size: 16px;
    color: rgb(102, 102, 102);
}

.item_info {
    margin-left: 10px;
}

/* FOOTER */
.page_footer {
    color: whitesmoke;
    background-color: black;
    padding: 20px;
}

/*.page_footer .row{
    justify-content:;
}*/

.col-2 {
    width: calc(6*100%/12);

}
.legal .item{
    font-size: 10px;
}

